# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# resources
resources/

# Ignore vs code IDE folders
.vscode/

# Ignore test files
complex_assembly.json
simple_assembly.json

# Ignore git and cache folders
.git
.cache

# Ignore markdown and text files
*.md



